<font size=3 color=white face="Arial">
<div class='headers' id='button_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  
    <th width='60' style="text-align:center"> ID </th>
    <th width='100' style="text-align:center"> Alphabet </th>
    <th width='200' style="text-align:center"> IR Representation </th>
    <th width='150' style="text-align:center"> Name </th>
    <th width='100' style="text-align:center"> Command </th>
    <th width='100' style="text-align:center"> Frequency Timer </th>
  </tr>
</table>
</div>
<div class='button_body' id='button_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
  <%@buttons.each do |button| %> 
    <table>
      <form name="button_<%=button.id%>" id="button_<%=button.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="button_<%=button.id%>" form="button_<%=button.id%>"> <%=button.id%></label> </td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_alphabet" type="text" size="1" maxlength="300" name="name" value="<%=button.alphabet%>"> </td>
            <td width='200' style="text-align:center"> <input id="<%=button.id%>_ir_representation" type="text" size="15" maxlength="300" name="name" value="<%=button.ir_representation%>"> </td>
            <td width='150' style="text-align:center"> <input id="<%=button.id%>_name" type="text" size="8" maxlength="20" name="name" value="<%=button.name%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_button_command" type="text" size="1" maxlength="4" name="name" value="<%=button.button_command%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_frequency_timer_count" type="text" size="3" maxlength="10" name="name" value="<%=button.frequency_timer_count%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=button.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

</div>
<script>
$(document ).ready(function() {
  <%@buttons.each do |button| %>
    document.getElementById("<%=button.id%>_change").onclick = function() {
      var buttonId = "<%=button.id%>"; 
      $.post('/button/update_button', { button_id: buttonId, alphabet: $('#<%=button.id%>_alphabet').val(),  ir_representation: $('#<%=button.id%>_ir_representation').val(),  name: $('#<%=button.id%>_name').val(),
      button_command: $('#<%=button.id%>_button_command').val(),  frequency_timer_count: $('#<%=button.id%>_frequency_timer_count').val()},
      function() {
    });
  };
  <%end%>
});
</script>

