<font size=3 color=white face="Arial">
  <div class='headers' id='serial_server_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='120' style="text-align:center"> IP </th>
    <th width='100' style="text-align:center"> Node ID </th>
    <th width='100' style="text-align:center"> Slot count </th>
  </tr>
</table>
</div>
<div class='serial_servers_body' id='serial_servers_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
<div id='new_serial_server' class='new_serial_server'>
</div>
  <%@serial_servers.each do |serial_server| %> 
    <table>
      <form name="serial_server_<%=serial_server.id%>" id="serial_server_<%=serial_server.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="serial_server_<%=serial_server.id%>" form="serial_server_<%=serial_server.id%>"> <%=serial_server.id%></label> </td>
            <td width='120' style="text-align:center"> <input id="<%=serial_server.id%>_ip" type="text" size="4" maxlength="15" name="name" value="<%=serial_server.ip%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=serial_server.id%>_node_id" type="text" size="4" maxlength="15" name="name" value="<%=serial_server.node_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=serial_server.id%>_slot_count" type="text" size="1" maxlength="10" name="name" value="<%=serial_server.slot_count%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=serial_server.id%>_change"  type="button"  class="change_button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=serial_server.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_serial_server();
  <%@serial_servers.each do |serial_server| %>
    document.getElementById("<%=serial_server.id%>_change").onclick = function() {
      var serialServerId = "<%=serial_server.id%>"; 
      $.post('/serial_server/update_serial_server', { serial_server_id: serialServerId, ip: $('#<%=serial_server.id%>_ip').val(),  node_id: $('#<%=serial_server.id%>_node_id').val(),  slot_count: $('#<%=serial_server.id%>_slot_count').val()}, 
      function() {
    });
  };
  <%end%>

  <%@serial_servers.each do | serial_server| %>
    document.getElementById("<%=serial_server.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var serialServerId = "<%=serial_server.id%>"; 
        $.post('/serial_server/delete_serial_server', { serial_server_id: serialServerId }, 
        function() {
        });
        document.getElementById('serial_servers').click();
      }
      else {}
      };
  <%end%>

  function new_serial_server() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/serial_server/new_serial_server",
        type: "GET",
        success: function(data) {
        $(".new_serial_server").html(data);
        }
      })
    };
  };



});
</script>
