<font size=3 color=white face="Arial">
      <form name="new_slot" id="new_slot_form">
        <table>
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="slot_new" form="slot_new%>">New slot </label> </td>
            <td width='95' style="text-align:center"> <input id="new_node_id" type="text" size="1" maxlength="3" name="node_id" value=""> </td>
            <td width='100' style="text-align:center"> <input id="new_ir_netbox_id" type="text" size="1" maxlength="3" name="ir_netbox_id" value=""></td>
            <td width='100' style="text-align:center"> <input id="new_ir_slot" type="text" size="1" maxlength="3" name="ir_slot" value=""></td>
            <td width='120' style="text-align:center"> <input id="new_pdu_id" type="text" size="4" maxlength="20" name="pdu_id" value=""></td>
            <td width='100' style="text-align:center"> <input id="new_pdu_slot" type="text" size="1" maxlength="3" name="pdu_slot" value=""></td>
            <td width='120' style="text-align:center"> <input id="new_serial_id" type="text" size="4" maxlength="20" name="serial_id" value=""></td>
            <td width='100' style="text-align:center"> <input id="new_serial_slot" type="text" size="1" maxlength="3" name="serial_slot" value=""></td>
            <td width='100' style="text-align:center"> <input id="new_audio_device" type="text" size="1" maxlength="3" name="audio_device" value=""></td>
            <td width='100' style="text-align:center"> <input id="new_change"  class="change_button"  type="button" value="Save" /></td>
          </tr>
      </table>
    </form>
</font>

<script>
  $(document).ready(function() {
  document.getElementById("new_change").onclick = function() {
    $.post('/slot/create_slot', {node_id: $('#new_node_id').val(), ir_netbox_id: $('#new_ir_netbox_id').val(),
      ir_slot: $('#new_ir_slot').val(), pdu_id: $('#new_pdu_id').val(), pdu_slot: $('#new_pdu_slot').val(), 
      serial_id: $('#new_serial_id').val(), serial_slot: $('#new_serial_slot').val(), audio_device: $('#new_audio_device').val()},
    function(){
    });
    document.getElementById('slots').click();
  };
});
</script>
