<%4.times do %>
  </br>
<%end%>
<%@slots.each do |slot|%>  
    <form name="slot_<%=slot.slot_number%>" id="slot_<%=slot.slot_number%>">
      <font size=3 color=white face="Arial">
      <% if slot.slot_number < 10 %> 
        <label style="margin-left:25px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> &nbsp;&nbsp;<%=slot.slot_number%></label> 
      <%else%> 
        <label style="margin-left:25px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> 
      <%end%>
      <%if slot.locked%>
        <input id="<%=slot.slot_number%>_view_button" type="checkbox" size="1" maxlength="3" name="view_button" > 
      <%end%>
    </form>
  <%end%> 
</font>

<script>
  $( document ).ready(function() {
    <%@locked_slots.each do |slot|%>  
      document.getElementById("<%=slot.slot_number%>_view_button").onclick = function() {
        if (document.getElementById("<%=slot.slot_number%>_view_button").checked == true) {
          $.post('/admin/update_view_slot', {slot: "<%=slot.slot_number%>" },
              function(){
            });
          $.ajax({
            url: "vlc",
            type: "GET",
            success: function(data) {
              $(".active_slot_div_<%=slot.slot_number%>").html(data);
            }
          })
        } else {
        $(".active_slot_div_<%=slot.slot_number%>").html('<label style="margin-left:120px" id="slot_<%=slot.slot_number%>" form="slot_<%=slot.slot_number%>"> <%=slot.slot_number%></label> <input id="<%=slot.slot_number%>_lock" disabled  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:204px;" /> <input id="<%=slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:-40px;"/>');
        }
      };
    <%end%> 
  });
</script>
