<div >
<font size=3 color=white face="Arial">
  <div style="position:fixed; background-color:#A9D0F5; height:100px; width:2000px; margin-top:-8px; margin-left:-8px; " >
  <br/>
  <table> 
    <tr> 
      <%= button_tag "Main", :class => "button", id: 'main', type: 'button'  %>
      <%= button_tag "Session Logs", :class => "button", id: 'session_logs', type: 'button'  %>
      <%= button_tag "Nodes",  :class => "button", id: 'nodes', type: 'button'  %>
      <%= button_tag "Slots",  :class => "button", id: 'slots', type: 'button'  %>
      <%= button_tag "Slot Video",  :class => "button", id: 'slot_video', type: 'button'  %>
      <%= button_tag "Xtraview",  :class => "button", id: 'xtraviews', type: 'button'  %>
      <%= button_tag "Decoders",  :class => "button", id: 'decoders', type: 'button'  %>
      <%= button_tag "IR Netboxes",  :class => "button", id: 'ir_netboxes', type: 'button'  %>
      <%= button_tag "Remotes",  :class => "button", id: 'remotes', type: 'button'  %>
      <%= button_tag "Power Unts",  :class => "button", id: 'power_units', type: 'button'  %>
      <%= button_tag "Serial servers",  :class => "button", id: 'serial_servers', type: 'button'  %>
      <%= button_tag "Buttons",  :class => "button", id: 'buttons', type: 'button'  %>
      <%= button_tag "GUI buttons",  :class => "button", id: 'gui_buttons', type: 'button'  %>
      <br/>
      <br/>
    </tr>
  </table>
</div>
</font>
<div  class='display_area' id='display_area' style="z-index:-5;"></div>

<script>
$(document).ready(function(){

  openGuiButtons();
  openSessionLogs();
  openSlots();
  openDecoders();
  openNodes();
  openXtraviews();
  openIrNetboxes();
  openRemotes();
  openButtons();
  openMain();
  openSlotVideo();
  openSerialServers();
  openPowerUnits();
    
    function openGuiButtons() { 
    document.getElementById('gui_buttons').onclick = function() {
      $.ajax({
        url: "/gui_button/gui_buttons",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openSessionLogs() { 
    document.getElementById('session_logs').onclick = function() {
      $.ajax({
        url: "/session_log/sessionlogs",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openSlots() { 
    document.getElementById('slots').onclick = function() {
      $.ajax({
        url: "/slot/slots",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openDecoders() { 
    document.getElementById('decoders').onclick = function() {
      $.ajax({
        url: "/decoder/decoders",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openNodes() { 
    document.getElementById('nodes').onclick = function() {
      $.ajax({
        url: "/node/nodes",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openXtraviews() { 
    document.getElementById('xtraviews').onclick = function() {
      $.ajax({
        url: "/xtraview/xtraviews",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openIrNetboxes() { 
    document.getElementById('ir_netboxes').onclick = function() {
      $.ajax({
        url: "/ir_netbox/ir_netboxes",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openRemotes() { 
    document.getElementById('remotes').onclick = function() {
      $.ajax({
        url: "/remote/remotes",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openButtons() { 
    document.getElementById('buttons').onclick = function() {
      $.ajax({
        url: "/button/buttons",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };
  
  function openMain() { 
    document.getElementById('main').onclick = function() {
      $.ajax({
        url: "index",
        type: "GET",
        success: function(data) {
        window.location = "index"
        }
      })
    };
  };

  function openSerialServers() { 
    document.getElementById('serial_servers').onclick = function() {
      $.ajax({
        url: "/serial_server/serial_servers",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openPowerUnits() { 
    document.getElementById('power_units').onclick = function() {
      $.ajax({
        url: "/power_unit/power_units",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

  function openSlotVideo() { 
    document.getElementById('slot_video').onclick = function() {
      $.ajax({
        url: "/slot/slot_video",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };
});
</script>


