<script>

  window.setInterval(function(){
    draw();
   }, 1000);

//function draw() {
//      var canvas = document.getElementById('remote_canvas');
//      if (canvas.getContext) {
//        var ctx = canvas.getContext('2d');
//        ctx.clearRect (0,0,200,800);
//        ctx.strokeStyle = "#FFFFFF";
//        <%active_gui_buttons = GuiButton.where(:remote_id => @active.to_i)%>
//        <%active_gui_buttons.each do |active_gui|%>
//          ctx.strokeRect(<%=active_gui.x - 998%>,<%=active_gui.y + 35%>,<%=active_gui.width%>,<%=active_gui.height%>);
//        <%end%>
//      }
//    };

</script>
