<div >
<font size=3 color=white face="Arial">
  <div style="position:fixed; background-color:#A9D0F5; height:100px; width:2000px; margin-top:-8px; margin-left:-8px; " >
  <br/>
  <table> 
    <tr> 
      <%= button_tag "Database", :class => "button", id: 'database', type: 'button'  %>
      <%= button_tag "Active Slots", :class => "button", id: 'active_slots', type: 'button'  %>
      <%= button_tag "Scheduling", :class => "button", id: 'scheduling', type: 'button'  %>
      <br/>
      <br/>
    </tr>
  </table>
</div>
</font>
<div  class='display_area' id='display_area'></div>

<script>
$(document).ready(function(){

  openDatabase();
  openActiveSlots();
    
    function openDatabase() { 
    document.getElementById('database').onclick = function() {
      $.ajax({
        url: "database_index",
        type: "GET",
        success: function(data) {
        window.location = "database_index"
        }
      })
    };
  };
 
  function openActiveSlots() { 
    document.getElementById('active_slots').onclick = function() {
      $.ajax({
        url: "active_slots",
        type: "GET",
        success: function(data) {
        $(".display_area").html(data);
        }
      })
    };
  };

});

</script>


