  <label style="margin-left:120px" id="slot_<%=@slot.slot_number%>" form="slot_<%=@slot.slot_number%>"> <%=@slot.slot_number%></label> 
  <embed id="vlc<%=@slot.slot_number%>"  type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="no" loop="no" width="250" height="200" ></embed> 
  <OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" width="250" height="200" id="vlc<%=@slot.slot_number%>" events="True"> 
    <param name="Src" value="udp://@239.1.1.3:1234" />
    <param name="AutoLoop" value="False" />
    <param name="AutoPlay" value="True"  />
    <param name="allowfullscreen" value="false" />
    <param name="toolbar" value="false" />
    <param name="controls" value="false" />
    <param name="network-caching" value="50" /> 
  </OBJECT>
  <%if @slot.locked%> 
    <input id="<%=@slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:0px;" disabled />
    <input id="<%=@slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:0px;"/>
  <%else%>
    <input id="<%=@slot.slot_number%>_lock"  class="delete_button"  type="button" value="lock" style="margin-left:45px; margin-top:0px;" />
    <input id="<%=@slot.slot_number%>_unlock"  class="change_button"  type="button" value="unlock" style="margin-left:0px; margin-top:0px;" disabled />
  <%end%>

    <script>
      var vlc_<%=@slot.slot_number%> = document.getElementById("vlc<%=@slot.slot_number%>"); 
      vlc_<%=@slot.slot_number%>.playlist.add("udp://@<%=@slot.output_url%>:<%=@slot.slot_number + @udp_port_delta%>", "live", ":network-caching=50"); 
      vlc_<%=@slot.slot_number%>.playlist.play();
      document.getElementById("<%=@slot.slot_number%>_lock").onclick = function() {
        $.ajax({
          url: "lock_slot",
          type: "GET",
          data: {slot: "<%=@slot.slot_number%>" },
          success: function(data) {
            document.getElementById("<%=@slot.slot_number%>_lock").disabled = true;
            document.getElementById("<%=@slot.slot_number%>_unlock").disabled = false;
            window.open(data, '_blank');
          }
        })
      };
      document.getElementById("<%=@slot.slot_number%>_unlock").onclick = function() {
        $.post('/admin/unlock_slot', {slot: "<%=@slot.slot_number%>" },
        function(){
            document.getElementById("<%=@slot.slot_number%>_lock").disabled = false;
            document.getElementById("<%=@slot.slot_number%>_unlock").disabled = true;
        });
      };


    </script>
</div>
