<!DOCTYPE html>
<html>
  <head>
    <title>ClearAdminPortal</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body bgcolor="#333333">
    <%= yield %>
  </body>
</html>
