<table>
  <form name="remote_new" id="remote_new"
    <tr>
      <th width='100' style="text-align:center"> </th>
      <td width='60' style="text-align:center"> <label id="remote_new" form="remote_new"> New </label> </td>
      <td width='100' style="text-align:center"> <input id="new_name" type="text" size="4" maxlength="20" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_model" type="text" size="4" maxlength="20" name="model" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_remote_type" type="text" size="4" maxlength="10" name="remote_type" value=""> </td>
      <td width='200' style="text-align:center"> <input id="new_image_url" type="text" size="14" maxlength="45" name="image_url" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_change"  class="change_button"  type="button" value="Save" /></td>
    </tr>
  </form>
</table> 

<script>
  $(document ).ready(function() {
    document.getElementById("new_change").onclick = function() {
      $.post('/remote/create_remote', { name: $('#new_name').val(),  model: $('#new_model').val(),  image_url: $('#new_image_url').val(), remote_type: $('#new_remote_type').val()},
        function() {
        });
      document.getElementById('remotes').click();
    };
  });
</script>
  
