<font size=3 color=white face="Arial">
<div class='headers' id='node_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New"/> </th>
    <th width='10' style="text-align:center">  </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='100' style="text-align:center"> Name </th>
    <th width='150' style="text-align:center"> IP </th>
    <th width='100' style="text-align:center"> Slot Count </th>
    <th width='100' style="text-align:center"> Node Type </th>
    <th width='100' style="text-align:center"> IR Netbox count </th>
    <th width='100' style="text-align:center"> External IP </th>
  </tr>
</table>
</font>
</div>
<div class='node_body' id='node_body' style="background-color:#333333; width:1000px; margin-left:110px; z-index:-5;"> 
<%8.times do %>
  </br>
<%end%>
<div id='new_node' class='new_node' style="z-index:-4;">
</div>
  <%@nodes.each do |node| %>
    <font size=3 color=white face="Arial">
      <form name="slot_<%=node.id%>" id="slot_<%=node.id%>">
        <table>
          <tr>
            <th width='0' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="node_<%=node.id%>" form="node_<%=node.id%>"> <%=node.id%></label> </td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_name" type="text" size="1" maxlength="10" name="name" value="<%=node.name%>"> </td>
            <td width='150' style="text-align:center"> <input id="<%=node.id%>_ip" type="text" size="5" maxlength="20" name="ip" value="<%=node.ip%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_slot_count" type="text" size="1" maxlength="3" name="slot_count" value="<%=node.slot_count%>"> </td>
            <%node_type = NodeType.find_by_node_id node.id%>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_node_type" type="text" size="4" maxlength="10" name="node_type" value="<%=node_type.node_type%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_ir_netbox_count" type="text" size="1" maxlength="2" name="ir_netbox_count" value="<%=node.ir_netbox_count%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_external_ip" type="text" size="6" maxlength="20" name="external_ip" value="<%=node.external_ip%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=node.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>



<script>
  $(document ).ready(function() {
  new_node();

  <%@nodes.each do |node| %>
    <%node_type = NodeType.find_by_node_id node.id%>
    document.getElementById("<%=node.id%>_change").onclick = function() {
      var nodeId = "<%=node.id%>"; 
      $.post('/node/update_node', { node_id: nodeId, name: $('#<%=node.id%>_name').val(),  ip: $('#<%=node.id%>_ip').val(),  slot_count: $('#<%=node.id%>_slot_count').val(),  slot_count: $('#<%=node.id%>_slot_count').val(), 
        node_type: $('#<%=node.id%>_node_type').val(), ir_netbox_count: $('#<%=node.id%>_ir_netbox_count').val(),  external_ip: $('#<%=node.id%>_external_ip').val()},
      function() {
      });
  };
<%end%>

 <%@nodes.each do |node| %>
    <%node_type = NodeType.find_by_node_id node.id%>
    document.getElementById("<%=node.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var nodeId = "<%=node.id%>"; 
        $.post('/node/delete_node', { node_id: nodeId }, 
        function() {
        });
        document.getElementById('nodes').click();
      }
      else {}
  };
<%end%>


 function new_node() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/node/new_node",
        type: "GET",
        success: function(data) {
        $(".new_node").html(data);
        }
      })
    };
  };

  
});
</script>

