<font size=3 color=white face="Arial">
<div class='headers' id='gui_button_headers'  > 
<table> 
  <tr> 
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='280' style="text-align:center; font-size:large"> Name </th>
    <th width='100' style="text-align:center"> ID </th>
    <th width='100' style="text-align:center"> Width </th>
    <th width='100' style="text-align:center"> Height </th>
    <th width='100' style="text-align:center"> X </th>
    <th width='100' style="text-align:center"> Y </th>
    <th width='100' style="text-align:center"> Remote ID </th>
  </tr>
</table>
</div>
<%5.times do %>
  </br>
<%end%>
<div class='gui_button_sidebar' id='gui_button_sidebar' style="float:left; position:fixed; z-index:-1;  background-color:#A9D0F5; width:110px; height:1000px; margin-top:0px; margin-left:-8px;"> 
  </br>
  </br>
  </br>
  <form name="sidebar_remotes" id="sidebar_remotes">
    <%@remotes.each do |remote|%>
      <%= button_tag remote.name.capitalize, :form => "sidebar_remotes",  :class => "button", id: remote.name, type: 'button'  %>
    <%end%>
  </form>
</div>
<div id='new_node' class='new_node'>
</div>
<div class='gui_button_body' id='gui_button_body' style="float:left;  background-color:#333333; width:1500px; margin-top:0px; margin-left:130px;"  > 
</br>
</br>
</br>
<div id="button_display_area" class="button_display_area" style="float:left; display:block; background-color:#333333;">
</div>
</div>
</font>

<div id='remote_div' class='remote_div' style="float:right; display:block; position:fixed; background-color:#333333; margin-left:1250px; margin-top:100px; ">
</div>
<div class='canvas_div' id='canvas_div' style="position:fixed;  background-color:transparent; width:200px; height:800px; margin-top:50px; margin-left:1340px;"> 
  <canvas id="remote_canvas" width="200px" height="800px" >
    Browser does not support canvas
  </canvas>
</div>
<script>

  $( document ).ready(function() {

  drawButtons();

function drawButtons () {
  <%@remotes.each do |remote| %>
    document.getElementById("<%=remote.name%>").onclick = function() {
      var remoteID = "<%=remote.id%>";
      var remoteUrl = "<%=remote.image_url%>";
//      $.post('/gui_button/update_active_remote', { active: remoteID},
//      function() {
//      });
      $.ajax({
        url: "/gui_button/gui_button_fields",
        type: "GET",
        data: {active: remoteID},
        success: function(data) {
          $(".remote_div").html("<img height='640' width='360' src=" + remoteUrl + "></img>");
          $(".button_display_area").html(data);
        }
      })
        var s = new CanvasState(document.getElementById('remote_canvas'));
        <%active_gui_buttons = GuiButton.where(:remote_id => remote.id)%>
        <%active_gui_buttons.each do |active_gui|%>
        s.addShape(new Shape(<%=active_gui.x - 998%>,<%=active_gui.y + 35%>,<%=active_gui.width%>,<%=active_gui.height%>, 'rgba(46, 154, 254, .5)','<%=active_gui.button_id%>')); 
        <%end%>
    };
  <%end%>
  };

    <%if session[:active_remote]%> 
      <%refresh_remote = Remote.find_by_id session[:active_remote]%>
      document.getElementById('<%=refresh_remote.name%>').click();
    <%end%>

});

 function Shape(x, y, w, h, fill, name) {
  this.x = x || 0;
  this.y = y || 0;
  this.w = w || 1;
  this.h = h || 1;
  this.fill = fill || '#AAAAAA';
  this.name = name || 'nameless';
}

Shape.prototype.draw = function(ctx) {
  ctx.fillStyle = this.fill;
  ctx.fillRect(this.x, this.y, this.w, this.h);
}

Shape.prototype.contains = function(mx, my) {
  return  (this.x <= mx) && (this.x + this.w >= mx) &&
          (this.y <= my) && (this.y + this.h >= my);
}

function CanvasState(canvas) {
  
  this.canvas = canvas;
  this.width = canvas.width;
  this.height = canvas.height;
  this.ctx = canvas.getContext('2d');
  var stylePaddingLeft, stylePaddingTop, styleBorderLeft, styleBorderTop;
  if (document.defaultView && document.defaultView.getComputedStyle) {
    this.stylePaddingLeft = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingLeft'], 10)      || 0;
    this.stylePaddingTop  = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingTop'], 10)       || 0;
    this.styleBorderLeft  = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderLeftWidth'], 10)  || 0;
    this.styleBorderTop   = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderTopWidth'], 10)   || 0;
  }
  var html = document.body.parentNode;
  this.htmlTop = html.offsetTop;
  this.htmlLeft = html.offsetLeft;

  this.valid = false; 
  this.shapes = [];  
  this.dragging = false; 
  this.selection = null;
  this.dragoffx = 0; 
  this.dragoffy = 0;
  
  var myState = this;
  
  canvas.addEventListener('selectstart', function(e) { e.preventDefault(); return false; }, false);
  canvas.addEventListener('mousedown', function(e) {
    var mouse = myState.getMouse(e);
    var mx = mouse.x;
    var my = mouse.y;
    var shapes = myState.shapes;
    var l = shapes.length;
    for (var i = l-1; i >= 0; i--) {
      if (shapes[i].contains(mx, my)) {
        var mySel = shapes[i];
        myState.dragoffx = mx - mySel.x;
        myState.dragoffy = my - mySel.y;
        myState.dragging = true;
        myState.selection = mySel;
        myState.valid = false;
        myState.name = mySel.name;
        return;
      }
    }
    if (myState.selection) {
      myState.selection = null;
      myState.valid = false; 
    }
  }, true);
  canvas.addEventListener('mousemove', function(e) {
    if (myState.dragging){
      var mouse = myState.getMouse(e);
      myState.selection.x = mouse.x - myState.dragoffx;
      myState.selection.y = mouse.y - myState.dragoffy;  
      var mouse = myState.getMouse(e);
      var mx = mouse.x;
      var my = mouse.y;
      var shapes = myState.shapes;
      var l = shapes.length;
      for (var i = l-1; i >= 0; i--) {
        if (shapes[i].contains(mx, my)) {
          var button = shapes[i];
          var myElem = document.getElementById(button.name + '_x');
          if (myElem != null) {
           // alert ("I am not null");
            document.getElementById(button.name + '_x').value = (myState.selection.x + 998);
            document.getElementById(button.name + '_y').value = (myState.selection.y - 35);
          }
        } 
      }
      myState.valid = false; 
    }
  }, true);
  canvas.addEventListener('mouseup', function(e) {
    myState.dragging = false;
  }, true);

  this.selectionColor = '#CC0000';
  this.selectionWidth = 2;  
  this.interval = 30;
  setInterval(function() { myState.draw(); }, myState.interval);
}

CanvasState.prototype.addShape = function(shape) {
  this.shapes.push(shape);
  this.valid = false;
}

CanvasState.prototype.clear = function() {
  this.ctx.clearRect(0, 0, this.width, this.height);
}

CanvasState.prototype.draw = function() {
  if (!this.valid) {
    var ctx = this.ctx;
    var shapes = this.shapes;
    this.clear();
    
    var l = shapes.length;
    for (var i = 0; i < l; i++) {
      var shape = shapes[i];
      if (shape.x > this.width || shape.y > this.height ||
          shape.x + shape.w < 0 || shape.y + shape.h < 0) continue;
      shapes[i].draw(ctx);
    }
    if (this.selection != null) {
      ctx.strokeStyle = this.selectionColor;
      ctx.lineWidth = this.selectionWidth;
      var mySel = this.selection;
      ctx.strokeRect(mySel.x,mySel.y,mySel.w,mySel.h);
    }
    
    this.valid = true;
  }
}


CanvasState.prototype.getMouse = function(e) {
  var element = this.canvas, offsetX = 0, offsetY = 0, mx, my;
  
  if (element.offsetParent !== undefined) {
    do {
      offsetX += element.offsetLeft;
      offsetY += element.offsetTop;
    } while ((element = element.offsetParent));
  }

  offsetX += this.stylePaddingLeft + this.styleBorderLeft + this.htmlLeft;
  offsetY += this.stylePaddingTop + this.styleBorderTop + this.htmlTop;

  mx = e.pageX - offsetX;
  my = e.pageY - offsetY;
  
  return {x: mx, y: my};
}


function init() {
  var s = new CanvasState(document.getElementById('remote_canvas'));
  s.addShape(new Shape(40,40,50,50)); // The default is gray
  s.addShape(new Shape(60,140,40,60, 'lightskyblue'));
  // Lets make some partially transparent
  s.addShape(new Shape(80,150,60,30, 'rgba(127, 255, 212, .5)'));
  s.addShape(new Shape(125,80,30,80, 'rgba(245, 222, 179, .7)'));
} 

</script>


