<table>
  <form name="power_unit_new" id="power_unit_new"
    <tr>
      <th width='100' style="text-align:center"> </th>
      <td width='60' style="text-align:center"> <label id="power_unit_new" form="power_unit_new"> New </label> </td>
      <td width='120' style="text-align:center"> <input id="new_ip" type="text" size="4" maxlength="15" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_node_id" type="text" size="4" maxlength="15" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_slot_count" type="text" size="1" maxlength="10" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_change"  type="button"  class="change_button" value="Save" /></td>
    </tr>
  </form>
</table>

<script>
  $(document ).ready(function() {
      document.getElementById("new_change").onclick = function() {
        $.post('/power_unit/create_power_unit', { ip: $('#new_ip').val(),  node_id: $('#new_node_id').val(),  slot_count: $('#new_slot_count').val()}, 
        function() {
      });
    document.getElementById('power_units').click();
    };
  });
</script>

