<font size=3 color=white face="Arial">
  <div class='headers' id='power_unit_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='120' style="text-align:center"> IP </th>
    <th width='100' style="text-align:center"> Node ID </th>
    <th width='100' style="text-align:center"> Slot count </th>
  </tr>
</table>
</div>
<div class='power_units_body' id='power_units_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
<div id='new_power_unit' class='new_power_unit'>
</div>
  <%@power_units.each do |power_unit| %> 
    <table>
      <form name="power_unit_<%=power_unit.id%>" id="power_unit_<%=power_unit.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="power_unit_<%=power_unit.id%>" form="power_unit_<%=power_unit.id%>"> <%=power_unit.id%></label> </td>
            <td width='120' style="text-align:center"> <input id="<%=power_unit.id%>_ip" type="text" size="4" maxlength="15" name="name" value="<%=power_unit.ip%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=power_unit.id%>_node_id" type="text" size="4" maxlength="15" name="name" value="<%=power_unit.node_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=power_unit.id%>_slot_count" type="text" size="1" maxlength="10" name="name" value="<%=power_unit.slot_count%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=power_unit.id%>_change"  type="button"  class="change_button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=power_unit.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_power_unit();
  <%@power_units.each do |power_unit| %>
    document.getElementById("<%=power_unit.id%>_change").onclick = function() {
      var powerUnitId = "<%=power_unit.id%>"; 
      $.post('/power_unit/update_power_unit', { power_unit_id: powerUnitId, ip: $('#<%=power_unit.id%>_ip').val(),  node_id: $('#<%=power_unit.id%>_node_id').val(),  slot_count: $('#<%=power_unit.id%>_slot_count').val()}, 
      function() {
    });
  };
  <%end%>

  <%@power_units.each do | power_unit| %>
    document.getElementById("<%=power_unit.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var powerUnitId = "<%=power_unit.id%>"; 
        $.post('/power_unit/delete_power_unit', { power_unit_id: powerUnitId }, 
        function() {
        });
        document.getElementById('power_units').click();
      }
      else {}
      };
  <%end%>

  function new_power_unit() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/power_unit/new_power_unit",
        type: "GET",
        success: function(data) {
        $(".new_power_unit").html(data);
        }
      })
    };
  };



});
</script>
