<table>
  <form name="new_xtraview" id="new_xtraview"
      <tr>
        <th width='100' style="text-align:center"> </th>
        <td width='60' style="text-align:center"> <label id="xtraview_new" form="xtraview_new"> New </label> </td>
        <td width='100' style="text-align:center"> <input id="new_primary_slot_id" type="text" size="1" maxlength="10" name="name" value=""> </td>
        <td width='100' style="text-align:center"> <input id="new_secondary_slot_id" type="text" size="1" maxlength="10" name="name" value=""> </td>
        <td width='100' style="text-align:center"> <input id="new_change"  class="change_button"  type="button" value="Save" /></td>
      </tr>
  </form>
</table>

<script>
$(document ).ready(function() {
    document.getElementById("new_change").onclick = function() {
      $.post('/xtraview/create_xtraview', { primary_slot_id: $('#new_primary_slot_id').val(),  secondary_slot_id: $('#new_secondary_slot_id').val()},
      function() {
    });
    document.getElementById('xtraviews').click();
  };
});
</script>

