<font size=3 color=white face="Arial">
<div class='headers' id='xtraview_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='100' style="text-align:center"> Primary Slot </th>
    <th width='100' style="text-align:center"> Secondary Slot </th>
  </tr>
</table>
</div>
<div class='xtraview_body' id='xtraview_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
  <%8.times do %>
    </br>
  <%end%>
<div id='new_xtraview' class='new_xtraview'>
</div>
  <%@xtraviews.each do |xtraview| %> 
    <table>
      <form name="xtraview<%=xtraview.id%>" id="xtraview_<%=xtraview.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="xtraview_<%=xtraview.id%>" form="xtraview_<%=xtraview.id%>"> <%=xtraview.id%></label> </td>
            <td width='100' style="text-align:center"> <input id="<%=xtraview.id%>_primary_slot_id" type="text" size="1" maxlength="10" name="name" value="<%=xtraview.primary_slot_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=xtraview.id%>_secondary_slot_id" type="text" size="1" maxlength="10" name="name" value="<%=xtraview.secondary_slot_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=xtraview.id%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=xtraview.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_slot();
  <%@xtraviews.each do |xtraview| %>
    document.getElementById("<%=xtraview.id%>_change").onclick = function() {
      var xtraviewId = "<%=xtraview.id%>"; 
      $.post('/xtraview/update_xtraview', { xtraview_id: xtraviewId, primary_slot_id: $('#<%=xtraview.id%>_primary_slot_id').val(),  secondary_slot_id: $('#<%=xtraview.id%>_secondary_slot_id').val()},
      function() {
      });
    };
  <%end%>

  <%@xtraviews.each do |xtraview| %>
    document.getElementById("<%=xtraview.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var xtraviewId = "<%=xtraview.id%>"; 
        $.post('/xtraview/delete_xtraview', { xtraview_id : xtraviewId }, 
        function() {
        });
        document.getElementById('xtraviews').click();
      }
      else {}
      };
  <%end%>

  function new_slot() { 
   document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/xtraview/new_xtraview",
        type: "GET",
        success: function(data) {
          $(".new_xtraview").html(data);
        }
      })
    };
  };

});
</script>

