<font size=3 color=white face="Arial">
   <table>
     </br>
    <%if @log_field_count != -1%>
      <%@session_logs = SessionLog.find(:all,  :order => "id desc", limit: @log_field_count).reverse%>
    <%else%> 
      <%@session_logs = SessionLog.all%>
    <%end%>
    <%@session_logs.each do |log| %>
    <tr>
      <td width="100" align="center" > <%=log.slot%> </td> <td width="100" align="center" > <%=log.created_at.to_date%> </td> 
    <td width="100" align="center" > <%=log.start%> </td> <td width="100" align="center" ><%=log.session_end%> </td> <td width="100" align="center" > <%=log.query_type%> </td> <td width="120" align="center" > <%=log.client_ip%> </td> <td width="50" align="center" > <%=log.xtraview_slot%> </td>
    </tr>
    <%end%>
  </table>
</font>

