<div class='headers' id='session_log_headers'  > 
<font size=3 color=white face="Arial">
 <table>
    <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New"  style="display:none;"/> </th>
      <th align="center" width="100"> Slot </th> 
      <th align="center" width="100">  Date </th> 
      <th align="center" width="100"> Start </th> 
      <th align="center" width="100"> End  </th> 
      <th align="center" width="100"> Type </th> 
      <th align="center" width="120"> IP </th> 
      <th align="center" width="50">  Xtraview Slot </th> 
    </tr>
  </table>
</font
</div>
</br>
</div>
<%7.times do %>
  </br>
<%end%>
<div class='gui_button_sidebar' id='gui_button_sidebar' style="float:left; position:fixed; z-index:-1; background-color:#A9D0F5; width:118px; height:1000px; margin-top:-32px; margin-left:-8px;"> 
  <br/>
  <br/>
  <br/>
  <table>
    <tr>
      <th align="center" width="30" style="margin-top:50px;">
        <%= button_tag "Last 100",  :class => "button", id: "100_button", type: 'button'  %> 
      </th> 
    </tr>
    <tr>
      <th align="center" width="30">
        <%= button_tag "Last 1000",  :class => "button", id: "1000_button", type: 'button'  %>
      </th> 
    </tr>
    <tr>
      <th align="center" width="30">
        <%= button_tag "All",  :class => "button", id: "all_button", type: 'button'  %>
      </th> 
    </tr>
</div>
<div id='session_log_body' class='session_log_body' style="background-color:#333333; width:1500px;  margin-left:118px;" > 
</div>

<script>
  $( document ).ready(function() {

    document.getElementById('100_button').onclick = function() {
      $.post('/session_log/update_log_field_count', { log_field_count: "100"},
      function() {
      });
      $.ajax({
        url: "/session_log/session_log_fields",
        type: "GET",
        success: function(data) {
        $(".session_log_body").html(data);
        }
      })
    };
 
    document.getElementById('1000_button').onclick = function() {
      $.post('/session_log/update_log_field_count', { log_field_count: "1000"},
      function() {
      });
      $.ajax({
        url: "/session_log/session_log_fields",
        type: "GET",
        success: function(data) {
        $(".session_log_body").html(data);
        }
      })
    };

    document.getElementById('all_button').onclick = function() {
      $.post('/session_log/update_log_field_count', { log_field_count: "-1"},
      function() {
      });
      $.ajax({
        url: "/session_log/session_log_fields",
        type: "GET",
        success: function(data) {
        $(".session_log_body").html(data);
        }
      })
    };

  });
</script>
