<font size=3 color=white face="Arial">
<div class='headers' id='ir_netbox_headers' > 
<table>
  <tr>
    <th width='100' style="text-align:center">  <input id="new" class="new_button"  type="button" value="New" /> </th>
    <th width='60' style="text-align:center"> ID </th>
    <th width='150' style="text-align:center">  IP </th>
    <th width='100' style="text-align:center">  Node ID </th>
    <th width='100' style="text-align:center">  Slot Count </th>
  </tr>
</table>
</div>
<div class='ir_netbox_body' id='ir_netbox_body' style=" background-color:#333333; width:2000px; margin-left:-8px" > 
<%8.times do %>
  </br>
<%end%>
<div id='new_ir_netbox' class='new_ir_netbox'>
</div>
  <%@ir_netboxes.each do |ir_netbox| %> 
    <table>
      <form name="ir_netbox_<%=ir_netbox.id%>" id="ir_netbox_<%=ir_netbox.id%>"
          <tr>
            <th width='100' style="text-align:center"> </th>
            <td width='60' style="text-align:center"> <label id="ir_netbox_<%=ir_netbox.id%>" form="ir_netbox_<%=ir_netbox.id%>"> <%=ir_netbox.id%></label> </td>
            <td width='150' style="text-align:center"> <input id="<%=ir_netbox.id%>_ip" type="text" size="5" maxlength="20" name="name" value="<%=ir_netbox.ip%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=ir_netbox.id%>_node_id" type="text" size="1" maxlength="3" name="name" value="<%=ir_netbox.node_id%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=ir_netbox.id%>_slot_count" type="text" size="1" maxlength="3" name="name" value="<%=ir_netbox.slot_count%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=ir_netbox.id%>_port" type="text" size="1" maxlength="3" name="name" value="<%=ir_netbox.port%>"> </td>
            <td width='100' style="text-align:center"> <input id="<%=ir_netbox.id%>_change"  class="change_button"  type="button" value="Change" /></td>
            <td width='100' style="text-align:center"> <input id="<%=ir_netbox.id%>_delete"  class="delete_button"  type="button" value="Delete" /></td>
          </tr>
      </table>
    </form>
  <%end%>
</div>
</font>

<script>
$(document ).ready(function() {
  new_ir_netbox();
  <%@ir_netboxes.each do |ir_netbox| %>
    document.getElementById("<%=ir_netbox.id%>_change").onclick = function() {
      var irNetboxId = "<%=ir_netbox.id%>"; 
      $.post('/ir_netbox/update_ir_netbox', { ir_netbox_id: irNetboxId, ip: $('#<%=ir_netbox.id%>_ip').val(),  slot_count: $('#<%=ir_netbox.id%>_slot_count').val(), node_id: $('#<%=ir_netbox.id%>_node_id').val(), port: $('#<%=ir_netbox.id%>_port').val()},

      function() {
    });
  };
  <%end%>

  <%@ir_netboxes.each do |ir_netbox| %>
    document.getElementById("<%=ir_netbox.id%>_delete").onclick = function() {
      var check = confirm("Are you sure you want to delete this record? This action cannot be reversed.")
      if (check == true) {
        var irNetboxId = "<%=ir_netbox.id%>"; 
        $.post('/ir_netbox/delete_ir_netbox', { ir_netbox_id: irNetboxId }, 
        function() {
        });
      document.getElementById('ir_netboxes').click();
      }
      else {}
    };
  <%end%>

  function new_ir_netbox() { 
    document.getElementById('new').onclick = function() {
      $.ajax({
        url: "/ir_netbox/new_ir_netbox",
        type: "GET",
        success: function(data) {
        $(".new_ir_netbox").html(data);
        }
      })
    };
  };



});
</script>
