<table>
  <form name="ir_netbox_new" id="ir_netbox_new"
    <tr>
      <th width='100' style="text-align:center"> </th>
      <td width='60' style="text-align:center"> <label id="ir_netbox_new" form="ir_netbox_new"> New </label> </td>
      <td width='150' style="text-align:center"> <input id="new_ip" type="text" size="5" maxlength="20" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_node_id" type="text" size="1" maxlength="3" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_slot_count" type="text" size="1" maxlength="3" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_port" type="text" size="1" maxlength="6" name="name" value=""> </td>
      <td width='100' style="text-align:center"> <input id="new_change"  class="change_button"  type="button" value="Save" /></td>
    </tr>
  </form>
</table>

<script>
$(document ).ready(function() {
    document.getElementById("new_change").onclick = function() {
      $.post('/ir_netbox/create_ir_netbox', { ip: $('#new_ip').val(),  slot_count: $('#new_slot_count').val(), node_id: $('#new_node_id').val(), port: $('#new_port').val()},
      function() {
    });
    document.getElementById('ir_netboxes').click();
  };
});
</script>
